 
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');
 

img{
    width:100%;
}
.h1font{font-family: "Edu AU VIC WA NT Guides", cursive;}
.bg-design{ 
    background-image: url('../images/farm2.jpg');
    padding: 200px;
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-size: 20px;
}

.font1{
font-size: 40px;}

.i2{
    padding-left: 20px;
    width: 70%;
    margin: 250px;
   
}

.flex-container{
    display:flex;
     flex-direction: row;
     margin-left: 100px;
 
    
}
.bg-div{
    width: 30%;
    padding-left: 20px;


}
.H-3{
  padding-top: 20px;  
}

.i3{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-left: 70%;
}
    .but{background-color: green;}
    .p1{
        
        width:1400px;
    }
    .flex{
        margin-left: 100px;
        display: flex;
    
    }
    .i4{
        width: 800px;
        padding-left: 100px;
    }
